<!-- モバイル用 固定CTAバー（画面下・親指の届く位置・常時表示）。応募と購入の両方を常に押せるようにする -->
<div class="cta-bar" data-cta-bar>
{{#except submit,tickets,partners}}
  <div class="cta-bar__inner">
      <a class="btn btn--primary" data-show="0" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="1" href="submit.html">作品を応募する</a>
      <a class="btn btn--ghost" data-show="1" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="2 3" data-submit="on" href="submit.html">作品を応募する</a>
      <a class="btn btn--primary" data-show="2 3" href="tickets.html">チケットを買う</a>
      <a class="btn btn--primary" data-show="4" href="archive.html">受賞作を見る</a>
  </div>
{{/except}}
{{#only submit}}
  <div class="cta-bar__inner">
      <a class="btn btn--primary" data-show="0" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="1" data-ext="submit" data-target="creator" data-pos="bar" href="https://filmfreeway.com/">作品を応募する <span class="ext" aria-hidden="true">↗</span></a>
      <a class="btn btn--ghost" data-show="1" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="2 3" data-submit="on" data-ext="submit" data-target="creator" data-pos="bar" href="https://filmfreeway.com/">作品を応募する <span class="ext" aria-hidden="true">↗</span></a>
      <a class="btn btn--ghost" data-show="2 3" href="tickets.html">チケットを買う</a>
      <a class="btn btn--primary" data-show="4" href="archive.html">受賞作を見る</a>
  </div>
{{/only}}
{{#only tickets}}
  <div class="cta-bar__inner">
      <a class="btn btn--primary" data-show="0" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="1" href="submit.html">作品を応募する</a>
      <a class="btn btn--ghost" data-show="1" href="index.html#newsletter">最新情報を受け取る</a>
      <a class="btn btn--gold" data-show="2 3" data-submit="on" href="submit.html">作品を応募する</a>
      <a class="btn btn--primary" data-show="2 3" data-sale="on" data-ext="tickets" data-target="audience" data-pos="bar" href="https://peatix.com/">チケットを買う <span class="ext" aria-hidden="true">↗</span></a>
      <a class="btn btn--primary" data-show="2 3" data-sale="off" data-ext="ticketNotify" data-target="audience" data-pos="bar" href="https://tally.so/">発売通知を受け取る <span class="ext" aria-hidden="true">↗</span></a>
      <a class="btn btn--primary" data-show="4" href="archive.html">受賞作を見る</a>
  </div>
{{/only}}
{{#only partners}}
  <div class="cta-bar__inner">
      <div class="btn-row">
        <a class="btn btn--primary" data-ext="sponsorForm" data-target="sponsor" data-pos="bar" href="https://tally.so/">協賛資料を請求する <span class="ext" aria-hidden="true">↗</span></a>
        <a class="btn btn--ghost" data-ext="sponsorMeet" data-target="sponsor" data-pos="bar" href="https://timerex.net/">面談を予約する <span class="ext" aria-hidden="true">↗</span></a>
      </div>
  </div>
{{/only}}
</div>
